html,body{
    width:400px;
}
.func-btn{
    background-color: #DBEAFE;
    color:  black;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: 0.1s;
}
.func-btn:hover{
    border: 2px solid #2563EB;
    transition: 0.1s;

}
.reset-btn{
    background-color: #ffffff;
    color:  black;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: 0.1s;
}
.reset-btn:hover{
    border: 2px solid #2563EB;
    transition: 0.1s;

}